*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    margin:0 auto;
}
#mainblog{
    background-color: yellowgreen;
    box-shadow: 5px 10px 18px gold;
    border-radius: 1em;
    text-align: center;
    height:900;
    width:800;
}