---
import BaseLayout from '../layouts/BaseLayout.astro';
import Styles from '../styles/global.css'
const pageTitle ="Home | AstroBlog";
---

<html lang="en">
    <BaseLayout pageTitle={pageTitle}><h1>My Astro Blog</h1></BaseLayout>
</html>