---
import BaseLayout from '../layouts/BaseLayout.astro';
import Styles from '../styles/global.css'
const pageTitle ="Home | AstroBlog";
const title ="Welcome the Blog";
---

<html lang="en">
    <BaseLayout title={title} pageTitle={pageTitle}><h1>My Astro Blog</h1></BaseLayout>
</html>